* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.body {
    margin: 0;
    padding: 0;
    
}

.hero {
    background-color: #1F2937;
    height: 100vh;
    padding: 40px 250px;
    font-size: 30px;
    color: #e5e7eb;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.header img {
    width: 150px;
    display: flex;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 0.9em;
}

.secondary-text {
    margin: 10px 0;
}

button {
    background-color: #3882f6;
    padding: 8px 32px;
    font-weight: bold;
    font-size: inherit;
    color: #f9faf8;
    border-radius: 6px;
    border: none;
}

.left {
    width: 650px;
}

.right {
    width: 650px;
    display: flex;
    background-color: greenyellow;
}

.right img {
    width: 100%;
}

.hero-content {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
    margin: 70px;
}

.card img {
    width: 100%;
    height: auto;
    border: solid rgb(39, 130, 250) 5px;
    border-radius: 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 140px;
}

.card {
    width: 230px;
}

.card-text {
    font-size: 1.3em;
}

.quote-section {
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    padding: 150px 400px;
    background-color: #e5e7eb;
}

.author {
    padding-top: 35px;
    padding-right: 50px;
    text-align: right;
    font-size: 30px;
    font-stretch: extra-condensed;
    font-weight: bold;
    font-style: normal;
}